body::before {
  display: block;
  content: '';
  height: 60px;
}

.card-course, .card {
  transition: 0.7s ease;
  box-shadow: 0 5px 15px rgba(1 1 1/ 15);
  border-radius: 5px;
  margin: auto

}

.card:hover {
  transform: scale(1.1);
}

.lesson {
  box-shadow: 0 5px 15px rgba(200 200 200/ 15);
  border-radius: 5px;
  border: 1px solid #fff;

}

.post:hover {
  /* transform: scale(1.1); */
  opacity: 0.9;
}

.button_width {
  min-width: 120px;
  max-width: 120px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 8px;
}

.user-img {
  height: 150px;
  width: 150px;
  margin-right: 8px;
}

.link {
  text-decoration: none;
}

.nobull {
  list-style-type: none;
}

.arabic-sc {
  font-family: 'Rakkas', cursive;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.custom-img-size {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-left: 40px;
}



  /* Custom CSS for the alert message */
#alertMessage {
    border: 2px solid #6c757d; /* Add a border */
    background-color: #f8f9fa; /* Change the background color */
    color: #343a40; /* Change the text color */
    font-size: 18px; /* Adjust the font size */
    padding: 10px; /* Add padding to the message */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    max-width: 300px; /* Limit the maximum width of the message */
    margin: 0 auto; /* Center the message horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
    transition: opacity 1.1s ease-in-out; /* Add a smooth fade-out effect */
    opacity: 0; /* Initially hide the message */
    animation: fadeInOut 3.1s ease-in-out forwards; /* Use the fadeInOut animation */
  }
  

  /* Additional styles for the success context */
#alertMessage.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

@keyframes fadeInOut {
    0% {
      opacity: 0; /* Start with full transparency */
    }
    20% {
      opacity: 1; /* Quickly fade in to 100% opacity */
    }
    80% {
      opacity: 1; /* Stay at 100% opacity for a while */
    }
    100% {
      opacity: 0; /* Gradually fade out to 0% opacity */
    }
  }

.card {
    cursor: pointer;
    height: 370px;
    width: 250px;
    border-radius: 25px;
}


.card .card-img {
  width: 100px; /* Ensure the image doesn't exceed the card width */
  height: 160px; /* Adjust the max height as per your preference */
  align-self: center;
  object-fit: cover; /* Preserve the image aspect ratio while filling the container */
}


.card-course{
    cursor: pointer;
    border-radius: 25px;
}

.course-imge-dash{
  height: 50px;
  width: 50px ;

}