{% extends 'lesson.html' %} {% block lesson %}
<div class="container pt-5">
  <br />
  <h2>{{lesson.title}}</h2>
  <hr />
  {{lesson.content | safe}}

  <div class="container mt-2 mb-50">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <div class="card-comment">
                <div class="p-3">
                    <h3 class="">Comments</h3>
                </div>
                <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                    <img
                        src="{{ url_for('static', filename='user_pics/' + current_user.img_file) }}"
                        width="50"
                        class="rounded-circle mr-2"
                    />
                    <form action="" method="POST"> 
                        {{ form.hidden_tag() }} <!-- Add CSRF token -->
                        {{ form.comment(class="form-control", placeholder="Enter your comment...") }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="mt-2">
                    {% for comment in comments %}
                    <div class="d-flex flex-row p-3">
                        <img
                            src="{{ url_for('static', filename='user_pics/' + comment.user_img_file) }}"
                            width="40"
                            height="40"
                            class="rounded-circle mr-3"
                        />
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center">
                                    <span class="mr-2">{{ comment.user_name }}</span>
                                    
                                </div>
                                <small>{{ comment.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                            </div>
                            <p class="text-justify comment-text mb-0">{{ comment.text }}</p>
                            <div class="d-flex flex-row user-feed">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock lesson%}
<!-- comment sec -->

